.card {
    width: 300px;
    border: 1px solid #f6f6f6;
    border-radius: 5%;
    margin: 10px;
    background-color: rgb(230, 214, 214);
    box-shadow: 2px 2px 2px 2px rgb(122, 99, 99);
  }
  
  .card-image {
    width: 101%;
    height: 120px;
    object-fit: cover;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .button-card{
    background-color: #f6f6f6;
    border-radius: 2%;
  }