
.container-confirm {
  display:contents;
  /* margin-top: 0%; */
  flex-direction: column;
  align-items: center; /* Aliniază containerele pe axa orizontală în centrul paginii */
}

.page {
  /* background-color: rgb(234, 151, 151); */
  background-image: url('/src/Poze/background.png');
  /* border: 2px solid red; */
  border-radius: 10px; 
  background-size: cover; 
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 200px auto;
  max-width: 70%;
}



.page h1 {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.page p {
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

/* Stiluri pentru containerul tabelului */
.table-confirm {
  max-width: 90%;
  margin-left: 20%;
  /* border: 2px solid red; */
}

.buton-confirm {
  background-color: rgb(247, 213, 213);
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;

  /* Center the button horizontally and vertically */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.buton-confirm:hover {
  background-color: #ffbdbd;
}



