
.documentation-container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center; /* Aliniază containerele pe axa orizontală în centrul paginii */
  }
  
  .read-documentation-page {
    /* background-color: rgb(234, 151, 151); */
    background-image: url('/src/Poze/background.png');
    /* border: 2px solid rgb(131, 127, 127); */
    border-radius: 10px;
    background-size: cover; 
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
  }
  

  
  .read-documentation-page h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .read-documentation-page p {
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  
  /* Stiluri pentru containerul tabelului */
  .table-container {
    max-width: 90%;
    margin-left: 20%;
    /* border: 2px solid red; */
  }

/* Adaugă acest bloc pentru stilul pentru ReadDocumentation tabel */

.read-documentation-table {
    width: 80%; 
    margin-left: 10%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(134, 126, 126);
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px 5px rgb(122, 99, 99);
}

/* Restul codului rămâne neschimbat */

.caption{
  font-size: 22px;
}
.read-documentation-table th,
.read-documentation-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    /* Adaugă stilurile pentru hover aici */
    background-color: rgba(255,255,255,0);
    transition: all 0.2s linear; 
    transition-delay: 0.3s, 0s;
    opacity: 0.6;
}

/* Stil pentru rândurile alternative */
.read-documentation-table tr:nth-child(even) {
    background-color: #f9f9f9;
}



.button-card2 {
  background-color: rgb(247, 213, 213);
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 62%;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buton-card2:hover {
  background-color: #ffbdbd;
}




  