
.documentation-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aliniază containerele pe axa orizontală în centrul paginii */
  }
  
  .read-documentation-page {
    background-image: url('/src/Poze/background.png');
    border: 2px solid rgb(131, 127, 127);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .read-documentation-page h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .read-documentation-page p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Stiluri pentru containerul tabelului */
  .table-container {
    margin: 20px auto;
  }

/* Adaugă acest bloc pentru stilul pentru ReadDocumentation tabel */

.read-documentation-table {
    width: 60%; /* Ajustează lățimea tabelului după preferințele tale */
    margin: 20px auto; /* Aliniază tabelul în centrul paginii */
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(131, 127, 127);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(122, 99, 99);
}

/* Restul codului rămâne neschimbat */


.read-documentation-table th,
.read-documentation-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    /* Adaugă stilurile pentru hover aici */
    background-color: rgba(255,255,255,0);
    transition: all 0.2s linear; 
    transition-delay: 0.3s, 0s;
    opacity: 0.6;
}

/* Stil pentru rândurile alternative */
.read-documentation-table tr:nth-child(even) {
    background-color: #f9f9f9;
}



.button-card2 {
  background-image: url('/src/Poze/background.png');
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
display:table-cell;
vertical-align:middle;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  /* Poziționarea în partea dreaptă jos */
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button-card button {
  flex: 1;
}

.button-card .button-text {
  flex: 1;
}

.button-card:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-card:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}




  